body {
    min-height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-weight: 400;
    color: #333333;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;

    margin:0;
}
/** Common */
* {
    box-sizing: border-box;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
img {
    border: 0;
}
img {
    vertical-align: middle;
}
/** Common Ends */
.navbar {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 0;
    color: #333333;
    border-bottom: 1px solid #e7e7e7;
    min-height: 50px;
    margin-bottom: 20px;
    background-color: #ffffff;
}

.container-fluid {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 22px;
}

.navbar-header {
    float: left;
}
.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    width: 200px;
    margin-left: -15px;
    height: 50px;
}
.navbar-brand img {
    display: inline-block;
    float: left;
    height: 30px;
    margin-top: -5px;
    width: 70px;
}
.navbar-right {
    float: right !important;
    margin-right: -15px;
}
.nav {
    padding-left: 0;
    list-style: none;
}
.nav>li {
    position: relative;
    display: block;
}
.navbar-nav {
    float: left;
    margin: 0;
}
.navbar-nav>li {
    float: left;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #888888;
}
.nav>li>a:hover {
    color: #FE2851;
}
a {
    color: #337ab7;
    text-decoration: none;
}
#toolboxWrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background: #FFFFFF;
    background-size: 100% auto;
    padding-top: 50px;
    padding-bottom: 60px;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.ls-wrapper .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 730px;
}
.intro {
    text-align: center;
}
.intro a:hover, .intro a:active, .intro a:visited {
    text-decoration: none;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.intro h1, .intro h2 {
    margin: 40px auto 0px auto;
    font-size: 44px;
    font-weight: 600;
    color: #333333;
}
.intro h1, .intro h2 {
    -webkit-font-smoothing: antialiased;
}
p {
    margin: 0 0 10px;
}
.intro p {
    font-size: 21px;
    font-weight: 300;
    margin-bottom: 30px;
}
.intro a {
    color: #333;
}
#searchResults {
    display: block;
}
#searchResults .result-bubble {
    color: #333333;
    border-bottom: 1px #e7e7e7 solid;
}
#searchResults .result-bubble-header {
    clear: both;
    overflow: auto;
    margin-bottom: 5px;
}
#searchResults .result-bubble-header h1 {
    display: inline-block;
    float: left;
    font-size: 21px;
    font-weight: 600;
}
#searchResults .controls {
    float: right;
    margin-top: 25px;
    text-align: right;
    font-weight: 200;
}
#searchResults .result-bubble {
    color: #333333;
    border-bottom: 1px #e7e7e7 solid;
}
*:before, *:after {
    box-sizing: border-box;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
#searchResults .result-bubble-container a {
    display: inline-block;
    margin-right: 21px;
}
#searchResults .result-bubble-container .result {
    font-size: 13px;
    line-height: 14px;
    width: 119px;
    height: 190px;
    float: left;
    text-align: center;
}
#searchResults .result-bubble-container .image {
    border-radius: 8px;
    height: 120px;
    width: 120px;
    background: url(../assets/fallback-bg.png) no-repeat center center;
    background-size: 118px;
}
#searchResults .result-bubble-container .image img {
    border: 1px solid #e7e7e7;
    border-radius: 8px;
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
}
#searchResults .result-bubble-container .title {
    position: relative;
}
#searchResults .result-bubble-container .name {
    line-height: 16px;
    color: #333333;
}
#searchResults .result-bubble-container .artist-name {
    color: #aaaaaa;
}
#searchResults .result-bubble-container .name, #searchResults .result-bubble-container .artist-name {
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    margin-top: 5px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#searchResults .result-bubble-container .explicit-small {
    position: absolute;
    top: 3px;
    right: 0px;
    height: 9px;
    width: 9px;
}
#detailWrapper {
    color: #333333;
}
#detailWrapper #primary, #detailWrapper #secondary, #detailWrapper #details {
    text-align: center;
}
#detailWrapper #primary, #detailWrapper #sidePrimary {
    font-size: 34px;
    font-weight: 400;
}
#detailWrapper #secondary, #detailWrapper #details, #detailWrapper #sideSecondary {
    font-size: 15px;
    font-weight: 300;
    color: #888888;
}
#detailWrapper #details {
    margin: 0 auto 20px auto;
}
#detailWrapper #details .genre, #detailWrapper #details .release {
    display: inline-block;
}
.details .intro-details {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px #e7e7e7 solid;
}
.details .intro-details .details-back {
    font-size: 15px;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    float: left;
    color: #FE2851;
}